<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EnterpriseAutomationSuite" parallel="methods" thread-count="3" data-provider-thread-count="3">
    <test name="LoginFlowTests" enabled="false">
        <classes>
            <class name="com.automation.framework.tests.LoginTest"/>
           
        </classes>
    </test>
    <test name="CreateContactTest" enabled="false">
        <classes>
             <class name="com.automation.framework.tests.CreateContactTest"/>
        </classes>
    </test>
    <test name="CreateCompanyTest" enabled="false">
        <classes>
            <class name="com.automation.framework.tests.CreateCompanyTest"/>
        </classes>
    </test>
    <test name="DeleteContactTest" enabled="false">
        <classes>
            <class name="com.automation.framework.tests.DeleteContactTest"/>
        </classes>
    </test>
    <test name="DeleteCompanyTest" enabled="true">
        <classes>
            <class name="com.automation.framework.tests.DeleteCompanyTest"/>
        </classes>
    </test>
    <test name="CreateDealTest" enabled="false">
        <classes>
            <class name="com.automation.framework.tests.CreateDealTest"/>
        </classes>
    </test>
    <test name="DeleteDealTest" enabled="false">
        <classes>
            <class name="com.automation.framework.tests.DeleteDealTest"/>
        </classes>
    </test>
</suite>
